# Ignore node_modules directory
node_modules/

# Ignore environment variable files
env/

# Ignore log files
*.log
authentication.json
# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore IDE-specific files
.vscode/
.idea/
